@tailwind base;
@tailwind components;
@tailwind utilities;

/*Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/*Variables globales*/
:root {
  /* Primary */
  --primary-black: #000000;
  --primary-neutral: #404040;
  --primary-white: #FFFFFF;

  /* Zinc */
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-500: #71717a;
  --zinc-800: #27272a;

  /* Error */
  --error-500: #ef4444;

  --outline-width: 2px;

  --max-width: 1280px;

}

@media (min-width: 768px) {
  :root {
    --outline-width: 4px;
  }
}

@layer base {
  body {
    @apply font-primary;
  }
}

@layer components{
  /*Home*/
  .container-home{
    @apply m-4;
  }

  .section-container{
    @apply md:flex max-w-5xl mx-auto py-10 rounded-3xl p-4 text-[var(--zinc-200)] bg-[var(--zinc-500)]
  }

  /*General*/
.outlined{
 @apply font-normal;
    color: var(--primary-white);
    text-shadow: var(--outline-width) 0 var(--primary-black),
    calc(var(--outline-width) * -1) 0 var(--primary-black),
    0 var(--outline-width) var(--primary-black),
    0 calc(var(--outline-width) * -1) var(--primary-black),
    var(--outline-width) var(--outline-width) var(--primary-black),
    calc(var(--outline-width) * -1) calc(var(--outline-width) * -1)
      var(--primary-black),
    var(--outline-width) calc(var(--outline-width) * -1) var(--primary-black),
    calc(var(--outline-width) * -1) var(--outline-width) var(--primary-black);
}

.section-title{
  @apply font-normal text-center;
  font-size: clamp(1.75rem, 5vw, 2.5rem );

}

  /*Header*/
  .header{
    @apply flex justify-between items-center p-4 max-w-7xl mx-auto relative;
  }

  .header__brand{
    @apply flex items-center gap-3
  }

  .header__logo{
    
  }

  .header__title{
    @apply  text-xl font-bold text-[var(--primary-black)]
  }

  .header__toggle{
    @apply md:flex-none w-9 h-9 lg:hidden
  }

  .header__nav, 
  .header__cta{
    @apply hidden lg:flex items-center gap-8 
  }
  
  .header__nav ul{
    @apply flex items-center gap-8 text-xl font-semibold
  }

  .header__cta{
    @apply md:hidden lg:flex text-xl bg-[var(--primary-black)]  px-5  py-4 rounded-s gap-2 text-[var(--primary-white)];
  }

  /*Hero*/
.hero{
  @apply flex flex-col items-center  justify-center gap-10 py-10 px-4 
  md:flex-row-reverse
}

.hero__content{
  @apply flex flex-col justify-center gap-8 md:max-w-[50%]
}

.hero__title{
  @apply font-normal text-[var(--primary-black)];
  font-size: clamp(1.5rem, 4.5vw, 2.5rem );
}

.hero__title strong{
  @apply font-extrabold
}

.hero__description{
  @apply text-base font-normal   text-[var(--zinc-500)];
}

.hero__image{
  @apply  w-full h-auto max-h-[30vh]
  md:max-h-none md:w-1/2;
}

.hero__social{
  @apply flex gap-6
  md:flex  mt-8
}

.social__link {
  @apply flex items-center justify-center 
  w-[60px] h-[60px] border-2 rounded-s
  transition-all duration-200 ease-in-out
  border-[var(--primary-black)]
  bg-[var(--primary-white)]
  text-[var(--primary-black)]
  hover:bg-[var(--primary-black)]
  hover:text-[var(--primary-white)]
  hover:-translate-y-0.5
}

.social__link:hover img {
  @apply invert;
}

.social__link img{
  @apply w-6 h-6
}

/*Skills*/

.skills{
  @apply flex flex-col justify-center gap-5 gap-10 py-10 px-4 
}

.skill-card{
  @apply flex flex-col items-center justify-evenly 
  rounded-s border-2 p-6 gap-8 
  bg-[var(--primary-white)]
  border-[var(--primary-black)]
  transition-all duration-150 ease-in-out
  hover:bg-[var(--primary-black)]
  hover:text-[var(--primary-white)]
  hover:-translate-y-0.5
  aspect-square
}

.skill-card:hover .skill_card__icon img{
  @apply invert
}

.skill-card:hover .skill-card__label{
  @apply text-[var(primary-white)]
}

.skill_card__icon img {
  @apply w-12 h-12 mb-4
}

.skill-card__label{
  @apply font-bold text-[var(primary-black)] ;
  font-size: clamp(1rem, 2vw, 1.25rem );
}
.skills__grid{
  @apply grid gap-5
  md:gap-8
  grid-cols-[repeat(auto-fit,_minmax(160px,_1fr))]
  lg:grid-cols-[repeat(5,_1fr)]
}

.skills__grid:nth-child(n + 7){
  @apply hidden
  md:flex
}
.skills__grid:nth-child(n + 9){
  @apply hidden
  lg:flex
}

.experience{
  @apply py-10 px-4 bg-[var(--primary-black)] text-[var(--primary-white)] 
}

.experience-container{ 
  @apply grid gap-8
}

.experience-card{
  @apply 
  py-8 px-6 gap-8
  items-center justify-center 
  rounded-lg 
  border border-[var(--zinc-500)] 
  transition-colors duration-300 ease-in-out
  items-center
  hover:bg-[var(--zinc-800)]

  grid grid-cols-[32px,_1fr]
}

.experience-card__logo{
  @apply font-semibold self-start grid col-start-1 row-start-1 ;
  font-size: clamp(1.25rem, 2vw, 1.25rem );
}

.experience-card__role{
  @apply grid col-start-2 row-start-1
  text-xl font-semibold self-end
}
.experience-card__date{
  @apply font-semibold text-base text-[var(--zinc-300)]
  grid col-span-2 
}

.experience-card__description{
  @apply leading-6 text-[var(--zinc-300)] 
  grid col-span-2
}

}