@tailwind base;
@tailwind components;
@tailwind utilities;

/*Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/*Variables globales*/
:root {
  /* Primary */
  --primary-black: #000000;
  --primary-neutral: #404040;
  --primary-white: #FFFFFF;

  /* Zinc */
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-500: #71717a;
  --zinc-800: #27272a;

  /* Error */
  --error-500: #ef4444;

  --outline-width: 2px;

  --max-width: 1280px;

}

@media (min-width: 768px) {
  :root {
    --outline-width: 4px;
  }
  .skill-card:nth-child(n + 7){
    display: flex;
  }
  .skill-card:nth-child(n + 9){
    display: none;
  }
}

@media (min-width: 1024px){
  .skill-card:nth-child(n + 9){
    display: flex
  }
}

@layer base {
  body {
    @apply font-primary;
  }
}

@layer components{
  /*Home*/
  .container-home{
    @apply m-4;
  }
  
  /*General*/
.outlined{
 @apply font-normal;
    color: var(--primary-white);
    text-shadow: var(--outline-width) 0 var(--primary-black),
    calc(var(--outline-width) * -1) 0 var(--primary-black),
    0 var(--outline-width) var(--primary-black),
    0 calc(var(--outline-width) * -1) var(--primary-black),
    var(--outline-width) var(--outline-width) var(--primary-black),
    calc(var(--outline-width) * -1) calc(var(--outline-width) * -1)
      var(--primary-black),
    var(--outline-width) calc(var(--outline-width) * -1) var(--primary-black),
    calc(var(--outline-width) * -1) var(--outline-width) var(--primary-black);
}

.section-title{
  @apply font-normal text-center;
  font-size: clamp(1.75rem, 5vw, 2.5rem );

}

.section-container{
  @apply py-10 px-4 m-auto max-w-[var(--max-width)] w-full
}

  /*Header*/
  .header{
    @apply flex justify-between items-center p-4 max-w-7xl mx-auto relative;
  }

  .header__brand{
    @apply flex items-center gap-3
  }

  /* .header__logo{
    
  } */

  .header__title{
    @apply  text-xl font-bold text-[var(--primary-black)]
  }

  .header__toggle{
    @apply md:flex-none w-9 h-9 lg:hidden
  }

  .header__nav, 
  .header__cta{
    @apply hidden lg:flex items-center gap-8 
  }
  
  .header__nav ul{
    @apply flex items-center gap-8 text-xl font-semibold
  }

  .header__cta{
    @apply md:hidden lg:flex text-xl bg-[var(--primary-black)]  px-5  py-4 rounded-s gap-2 text-[var(--primary-white)];
  }

  /*Hero*/
.hero{
  @apply flex flex-col items-center justify-center gap-10
   md:flex-row-reverse
}

.hero__content{
  @apply flex flex-col justify-center gap-8 
  md:w-1/2;
}

.hero__title{
  @apply font-normal text-[var(--primary-black)];
  font-size: clamp(1.5rem, 4.5vw, 2.5rem );
}

.hero__title strong{
  @apply font-extrabold
}

.hero__description{
  @apply text-base font-normal text-[var(--zinc-500)];
}

.hero__image{
  @apply  w-full h-auto max-h-[30vh]
  md:max-h-none md:w-1/2;
}

.hero__social{
  @apply flex gap-6 mt-8
}

.social__link {
  @apply flex items-center justify-center 
  w-[60px] h-[60px] border-2 rounded-s
  transition-all duration-200 ease-in-out
  border-[var(--primary-black)]
  bg-[var(--primary-white)]
  text-[var(--primary-black)]
  hover:bg-[var(--primary-black)]
  hover:text-[var(--primary-white)]
  hover:-translate-y-0.5
}

.social__link:hover img {
  @apply invert;
}

.social__link img{
  @apply w-6 h-6
}

/*Skills*/

.skills{
  @apply flex flex-col justify-center gap-5 
}

.skill-card{
  @apply flex flex-col items-center justify-evenly 
  p-6 
  rounded border-2 
  bg-[var(--primary-white)]
  border-[var(--primary-black)]
  aspect-square
  transition-transform transition-colors duration-150 ease-in-out
  hover:bg-[var(--primary-black)]
  hover:text-[var(--primary-white)]
  hover:-translate-y-0.5
}

.skill-card:hover .skill_card__icon img{
  @apply invert
}

.skill-card:hover .skill-card__label{
  @apply text-[var(--primary-white)]
}

.skill_card__icon img {
  @apply w-12 h-12 mb-4
}

.skill-card__label{
  @apply font-bold text-[var(primary-black)] ;
  font-size: clamp(1rem, 2vw, 1.25rem );
}
.skills__grid{
  @apply grid grid-cols-2 gap-5 
  md:grid-cols-4 md:gap-8
  lg:grid-cols-5
}

.skill-card:nth-child(n + 7){
  @apply  hidden
}
/*Experience*/

.experience{
  @apply py-10 px-4 bg-[var(--primary-black)] text-[var(--primary-white)] 
}

.experience-container{ 
  @apply grid gap-8
}

.experience-card{
  @apply 
  py-8 px-6 gap-8
  items-center
  rounded-lg 
  border border-[var(--zinc-500)] 
  transition-colors duration-300 ease-in-out
  
  grid grid-cols-[32px,_1fr]
  hover:bg-[var(--zinc-800)]
  md:grid-cols-[32px,_1fr,auto]
}

.experience-card__logo{
  @apply w-full ;
}

.experience-card__role{
  @apply text-xl font-semibold 
}
.experience-card__date{
  @apply font-semibold text-base text-[var(--zinc-300)]
  col-span-2 
  md:col-start-3 md:col-span-1 md:row-start-1
}

.experience-card__description{
  @apply leading-6 text-[var(--zinc-300)] 
  col-span-2
  md:col-span-3
}

/*About Me*/
.about__container{
  @apply flex flex-col items-center gap-10 
  md:flex-row md:items-start md:justify-between 
}

.about__image-wrapper{
  @apply w-full flex justify-center 
  md:w-1/2
}

.about__image{
  @apply w-full h-auto max-h-[30vh] 
  md:max-h-[40vh] ;
}

.about__content{
  @apply w-full flex flex-col gap-6 
  md:w-1/2 md:max-w-[580px]
}

.about__title{
  @apply text-left
}

.about__text{
  @apply flex flex-col gap-4 text-base leading-6  text-[var(--zinc-500)]
}

/*Projects */


.projects{
  @apply bg-[var(--primary-black)] text-[var(--primary-white)];
}


.projects__title{
  @apply mb-8 text-[var(--primary-white)];
}

.project-card{
  @apply flex flex-col gap-7 
}

.project-card__image-wrapper{
  @apply w-full rounded-[10px] overflow-hidden
}

.project-card__image{
  @apply w-full h-auto block
}

.project-card__content{
  @apply flex flex-col gap-6 justify-center
  md:w-1/2;
}

.project-card__number{
  @apply font-extrabold leading-4;
  font-size: clamp(1.5rem, 3vw, 2rem );
}

.project-card__title{
  @apply font-extrabold leading-5;
  font-size: clamp(1.25rem, 2.75vw, 1.75rem );
}

.project-card__description{
@apply leading-6 text-[var(--zinc-300)];
}

.project-card__link{
@apply my-2
}

.project-list{
  container-type: inline-size;
  container-name: project-list;
}

@container project-list (min-width:700px){

  .project-card{
    flex-direction: row;
  }

  .project-card:nth-child(even){
    flex-direction: row-reverse;
  }
}


}